header .header__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 24px;
}

section div nav .header__logo-banner img {
    max-width: 101px;
    /* display: flex;
    margin: auto;
    justify-content: space-between;
    z-index: 100; */
}


/* .header__menu-wrapper {
    display: flex;
    align-items: center;
}

.header__logo-image {
    max-width: 101px;
} */

.header__menu-link {
    color: var(--text-accent-color);
    text-decoration: none;
}

@media (max-width: 990px) {
    body.lock {
        overflow: hidden;
    }

    section div nav .header__logo-banner {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
    }

    section div nav .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        padding: 12px;
        cursor: pointer;
        z-index: 5;
        /* transform: scale(1); */
    }

    section div nav .header__burger span,
    section div nav .header__burger::before,
    section div nav .header__burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--text-accent-color);
        transition: all 0.5s ease-in-out;
    }

    section div nav .header__burger span {
        transform: scale(1);
    }

    section div nav .header__burger::before,
    section div nav .header__burger::after {
        content: " ";
    }

    section div nav .header__burger::before {
        top: 0;
    }

    section div nav .header__burger::after {
        bottom: 0;
    }

    section div nav .header__burger.active span {
        transform: scale(0);
    }

    section div nav .header__burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    section div nav .header__burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }

    header section div .header__container-section {
        position: relative;
    }

    section div nav .header__logo .header__menu-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--text-shade-color);
        z-index: 2;
        transition: top 0.3s ease-in;
        padding: 15px 24px 50px 24px;
        transition: top 0.3s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
    }

    section div nav.header__logo .header__menu-wrapper.active {
        top: 0;
    }

    section div nav.header__logo.active {
        top: 0;
    }

    section div nav .header__menu {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        padding-top: 100px;
    }

    body>header>section>div>nav>div.header__menu-wrapper.active
        > div.header__menu
        > a {
        color: var(--button-black-color);
        opacity: .8;
    }

    body
        > header
        > section
        > div
        > nav
        > div.header__menu-wrapper.active
        > div.header__menu
        > a:hover {
        color: var(--button-black-color);
    }

    section div nav .header__menu a:hover {
        color: var(--button-black-color);
    }

    section div nav .header__contact {
        position: relative;
        min-width: 172px;
        max-width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
}

/* @media (min-width: 480px) {
    .container-top_flex {
        display: flex;
        flex-direction: column;
        max-width: 431px;
    }
} */

@media (min-width: 768px) {
    header .header__container {
        max-width: 785px;
    }
}

@media (min-width: 991px) {
    .header__container {
        max-width: 944px;
        margin: auto;
    }

    section div nav .header__burger {
        display: none;
    }

    section div nav.header__container-section {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    section div nav .header__menu,
    .header__contact {
        display: flex;
    }

    section div .header__logo .header__menu-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    }

    section div nav .header__menu {
        font-size: 0.92rem;
        font-weight: 700;
        color: var(--text-accent-color);
        min-width: 480px;
        display: flex;
        justify-content: space-around;
        height: auto;
    }

    section div nav .header__menu a {
        position: relative;
        font-size: 0.91rem;
        color: var(--text-accent-color);
        font-weight: 700;
        text-decoration: none;
        line-height: 1.5rem;
    }

    section div nav .header__menu a:hover {
        color: var(--button-black-color);
        cursor: pointer;
    }

    section div nav .header__menu a:after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 3px;
        border-radius: 0.1rem;
        background-color: var(--button-black-color);
        transition: width 0.2s ease-in;
    }

    section div nav .header__menu a:hover:after {
        width: 100%;
    }

    section div nav .header__contact {
        min-width: 172px;
        display: flex;
        justify-content: space-around;
    }

    section div nav .header__contact {
        max-width: 28px;
        border-radius: 0.4rem;
    }

    section div nav .header__contact a:hover {
        max-width: 32px;
        border: 1px solid var(--text-shade-color);
        border-radius: 0.2rem;
        box-shadow: 0 0 2px var(--text-accent-color);
        transform: scale(2);
    }
}